{% extends 'base.html.twig' %}
{% block title 'Edition de bien' %}
{% block body %}
    <div class="container">
        <h1>Editer le bien</h1>
        <div class="container">
            {{ include('admin/property/partial/_form.html.twig', {button:'Editer'}) }}
        </div>
    </div>
{% endblock %}
